@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/* General Font Assignments */
body {
  font-family: 'Montserrat', sans-serif; /* Default font for the page */
}

/* Ice Cream Quote Section */
.ice-cream-quote {
  width: 100%;
  height: 90vh;
  background-color: hsla(0, 3%, 75%, 0.267);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  font-size: 1.5em;
  color: #333;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.ice-cream-quote.show {
  opacity: 1;
  transform: translateX(0);
}

.side-image {
  width: 20%;
  height: auto;
  margin: 0 20px;
}

.quote-text {
  flex: 1;
  margin: 0 20px;
  font-size: 1.5em;
  color: #0f0f0f;
  font-family: 'Poppins', sans-serif; /* Modern font for the quote */
  font-weight: bold;
}

/* About Us Section */
.about-us-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
  background-image: url('../assets/about-us-image1.jpeg');
  background-size: cover;
  background-position: center;
}

.about-us-text {
  max-width: 800px;
  color: #080404;
  padding: 20px;
  font-family: 'Poppins', sans-serif; /* Professional font for the main text */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  background: none; /* Remove background color */
}

.about-us-text h2 {
  font-size: 2em;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif; /* Modern, professional font for headings */
}

.about-us-text p {
  font-size: 1.1em;
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif; /* Sans-serif font for paragraphs */
}

.read-more-link {
  font-size: 1.2em;
  color: #060546;
  text-decoration: underline;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif; /* Sans-serif font for links */
}

.read-more-link:hover {
  color: #0f1952;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-us-section {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .about-us-text {
    width: 90%;
  }
}
