/* Page Container */
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../assets/contact.jpeg') no-repeat center center/cover;
  text-align: center;
  background-size: cover;
  background-position:center;
  background-repeat:no-repeat;
  padding: 15px;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
}

/* .contact-page {
  background-image: url('../assets/contact.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px;
} */

/* Contact Container */
.contact-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 35px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  margin-bottom: 10px;
  color: #1f3b4d;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #2e5b72;
  font-size: 16px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1e1ec;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #1f3b4d;
  font-size: 16px;
}

.error {
  color: #ff6b6b;
  font-size: 0.875em;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
  color: #ffffff;
}

.notification {
  color: green;
  font-size: 1.5em;
  margin-top: 10px;
}
