.privacy-policy-page {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width of the viewport */
    padding: 20px;
    box-sizing: border-box; /* Include padding in width/height */
    font-family: 'Arial', sans-serif;
    text-align: center;
    line-height: 1.6;
    background-color: #f9f9f946; /* Light transparent background */
    margin: 0; /* Reset margin */
    transform: translateX(150px); /* Slightly move the content to the right */
  }
  
  .privacy-policy-title {
    font-size: 36px;
    color: #111111;
    margin-bottom: 20px;
  }
  
  .privacy-policy-intro,
  .privacy-policy-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .privacy-policy-section {
    margin-top: 20px;
  }
  
  .privacy-policy-subtitle {
    font-size: 28px;
    color: #2a4d8f;
  }
  