.product-item {
  text-align: center;
  width: calc(33.333% - 40px); /* Adjust width to fit 3 items in a row */
  flex: 0 0 auto; /* Ensure items don't shrink or grow */
  box-sizing: border-box; /* Include padding and border in width calculation */
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-item img {
  width: 80%; /* Reduced width */
  max-width: 150px; /* Set a max-width for better responsiveness */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-info {
  padding: 10px;
}

.product-info h3 {
  margin: 10px 0;
  font-size: 1.2em;
  color: hsl(0, 0%, 1%);
}

.product-info p {
  margin: 5px 0;
  color: #0a0a0a;
}

