.testimonials-section {
  padding: 40px 20px;
  background-color: #f8f8f8;
  text-align: center;
  margin-bottom: 80px; /* Add margin to prevent overlap with the footer */
}

.testimonials-section h2 {
  margin-bottom: 30px;
  font-size: 2em;
  color: #333;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.testimonial {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 calc(33.333% - 40px); /* Adjust width to fit within screen */
  max-width: 100%; /* Ensure it doesn't exceed parent width */
  box-sizing: border-box;
}

.testimonial p {
  font-size: 1em;
  color: #1a1919;
}

.testimonial h4 {
  margin-top: 15px;
  font-size: 1.2em;
  color: #1c1c1d;
}
